<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Categories</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>

  <h1>All Categories</h1>

  	<a href="/">Products</a>
	<a href="/orders">Orders</a>
	<a href="/categories">Categories</a>
	<a href="/customers">Customers</a>
	<a href="/store">Store Info</a>

  <p>Category count: <%= @categories.count %></p>

  <hr>

	<% if @categories.count > 0 %>
	    <% @categories.each do |category| %>
	      <li>

	        <p class="name"><b>Category Name:</b> <%= category[:name] %></p>
	        <p class="name"><b>Layout File:</b> <%= category[:layout_file] %></p>
	        <p class="name"><b>Category URL:</b> <%= category[:url] %></p>

	        <hr>
	      </li>
	    <% end %>
	  <% else %>
	    <li>No Categories.</li>
	  <% end %>
   
</body>
</html>
