	<% if @categories.count > 0 %>
	    <% @categories.each do |category| %>
	      <li>

	        <p class="name"><b>Category Name:</b> <%= category[:name] %></p>
	        <p class="name"><b>Layout File:</b> <%= category[:layout_file] %></p>
	        <p class="name"><b>Category URL:</b> <%= category[:url] %></p>

	        <hr>
	      </li>
	    <% end %>
	  <% else %>
	    <li>No Categories.</li>
	  <% end %>
   