	<h1>Product Images</h1>

	<a href="/">Back</a>

	<% if @product_images.count > 0 %>
	    <% @product_images.each do |product_image| %>
	      <li>
	      	<img src="<%= product_image[:zoom_url] %>" alt="">
	      </li>
	    <% end %>
	  <% else %>
	    <li>No Images.</li>
	  <% end %>