  <hr>

	    <p><b>Store ID:</b> <%= @store[:id] %><br />
	    <b>Store Domain:</b> <%= @store[:domain] %><br />
	    <b>Store Name:</b> <%= @store[:name] %><br />
	    <b>Store Admin Email:</b> <%= @store[:admin_email] %></p>
	</ul>
   