<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Products</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body>

  <h1>Store Info</h1>

  	<a href="/">Products</a>
	<a href="/orders">Orders</a>
	<a href="/customers">Customers</a>
	<a href="/store">Store Info</a>

  <hr>

	    <p><b>Store ID:</b> <%= @store[:id] %><br />
	    <b>Store Domain:</b> <%= @store[:domain] %><br />
	    <b>Store Name:</b> <%= @store[:name] %><br />
	    <b>Store Admin Email:</b> <%= @store[:admin_email] %></p>
	</ul>
   

</body>
</html>
